
.semaforo{
    /* padding: 10px;
    display: inline-block;
    margin: auto; */
    background-color: black;
    display: flex;
    flex-direction: column
    
    


} 
/* .luz{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   
}
.roja{background-color: red;}
.naranja{background-color: orange;}
.verde{background-color: green;}
.brillo{box-shadow: 0px 0px 9px 4px blue;} */