.traffic-light {
    background: black;
    padding: 20px;
    display: inline-block;
    margin-left: 46%;
    border-radius: 35px;
    border: 5px solid #3B3A38;
    border-bottom: 10px solid #3B3A38;
    border-top: 10px solid #3B3A38;
}
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.green {
    margin-bottom: 10%;
    background: green;
    background-size: 5px 5px;
}
.red {
    margin-bottom: 10%;
    background: red;
    background-size: 5px 5px;
} 
.yellow {
    margin-bottom: 10%;
    background: yellow;
    background-size: 5px 5px;
} 
.glow {
    box-shadow: 0px 0px 40px 20px #e7c40098;
}